.Pagination{
    width: 100vw;
    margin-block: 10px;
    text-align: center;
}

.Pagination button{
    background-color: var(--secondary);
    color: white;
    border: none;
    border-radius: 3px;
    font-size: 1rem;
    margin: 3px;
}
.Pagination button:hover{
    background-color: var(--primary);
}
.Pagination .selectedPage{
    background-color: var(--primary);
}