.SudokuGameStart{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    min-height: 80vh;
    align-items: center;
    align-content: center;
}
.SudokuGameStart h2{
    width: 100%;
    text-align: center;
    font-size: 2rem;
}
.SudokuGameStart .sudoku-grid{
    display: grid;
    grid-template-columns: repeat(9,10vw);
    padding-left: 5px;
    padding-top: 5px;
}

.SudokuGameStart .sudoku-grid > * {
    background-color: white;
    color: #333;
    border: 1px black solid;
    height: 10vw;
    text-align: center;
    font-size: 20px;
}

.SudokuGameStart .exist-easy{
    background-color: lightgreen;
}
.SudokuGameStart .exist-medium{
    background-color: lightsalmon;
}
.SudokuGameStart .exist-hard{
    background-color: lightcoral;
}

.SudokuGameStart .wrong-number{
    background-color: red;
}

.SudokuGameStart .border-right{
    border-right: 5px black solid;
}

.SudokuGameStart .border-bottom{
    border-bottom: 5px black solid;
}

.SudokuGameStart .reset-sudoku{
    margin-block: 3vh;
    border: none;
    background-color: var(--primary);
    font-size: 1rem;
    padding: 5px 10px;
    border-radius: 50px;
    margin-inline: 30vw;
}

@media(width > 700px){
    .SudokuGameStart .sudoku-grid{
        grid-template-columns: repeat(9,7vw);
    }
    
    .SudokuGameStart .sudoku-grid > * {
        height: 7vw;
    }
}

@media(width > 1000px){
    .SudokuGameStart .sudoku-grid{
        grid-template-columns: repeat(9,5vw);
    }
    
    .SudokuGameStart .sudoku-grid > * {
        height:5vw;
    }
}
@media(width > 1200px){
    .SudokuGameStart .sudoku-grid{
        grid-template-columns: repeat(9,4vw);
    }
    
    .SudokuGameStart .sudoku-grid > * {
        height:4vw;
    }
}