.SudokuGame h2{
    color: var(--light-bg);
    padding-left: 5%;
    font-size: 2em;
    width: fit-content;
    padding-bottom: 0px;
}
.SudokuGame {
    position: relative;
}
.SudokuGame .navBack{
    color: var(--light-bg) !important;
}