.SudokuGameNav{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin-block: 10px;
}

.SudokuGameNav button{
    border-radius: 3px; 
    border: none;
    text-transform: capitalize;
    font-size: 1em;
    color: var(--light-bg);
}

.SudokuGameNav .all{
    background-color: var(--primary);
}

.SudokuGameNav .easy{
    background-color: green;
}
.SudokuGameNav .medium{
    background-color: orange;
}
.SudokuGameNav .hard{
    background-color: red;
}