.sudoku-game{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
}
.sudoku-grid{
    display: grid;
    grid-template-columns: repeat(9,40px);
    padding-left: 5px;
    padding-top: 5px;
}
/* .easy{
    border: 5px green solid;
}
.medium{
    border: 5px orange solid;
}
.hard{
    border: 5px red solid;
} */
.sudoku-grid > * {
    background-color: white;
    color: #333;
    border: 1px black solid;
    height: 40px;
    text-align: center;
    font-size: 20px;
}

.exist-easy{
    background-color: lightgreen;
}
.exist-medium{
    background-color: lightsalmon;
}
.exist-hard{
    background-color: lightcoral;
}

.wrong-number{
    background-color: red;
}

.border-right{
    border-right: 5px black solid;
}

.border-bottom{
    border-bottom: 5px black solid;
}

.reset-sudoku{
    margin-block: 3vh;
    border: none;
    background-color: var(--primary);
    padding: 5px;
    border-radius: 3px;
}
