@import url("https://fonts.googleapis.com/css?family=Montserrat:400,400i,700");

.NotFound404,
.NotFound404:after,
.NotFound404:before {
  box-sizing: border-box;
}


.NotFound404 {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 90vh;
  justify-content: center;
  text-align: center;
}
.NotFound404 img{
    height: 100px;
    width: 100px;
}

.NotFound404 h1 {
  color: var(--light-bg); 
  /* color: var(--secondary); */
  font-size: 12.5rem;
  letter-spacing: 0.1em;
  margin: 0.025em 0;
  text-shadow: 0.05em 0.05em 0 var(--secondary);
  white-space: nowrap;
}

@media (max-width: 30rem) {
    .NotFound404 h1 {
    font-size: 8.5rem;
  }
}

.NotFound404 h1 > span {
  -webkit-animation: spooky 2s alternate infinite linear;
          animation: spooky 2s alternate infinite linear;
  color: #528cce;
  display: inline-block;
}

.NotFound404 h2 {
  color: #e7ebf2;
  margin-bottom: 0.4em;
}

.NotFound404 p {
  color: var(--light-bg);
  margin-top: 0;
}

@-webkit-keyframes spooky {
  from {
    transform: translatey(0.15em) scaley(0.95);
  }
  to {
    transform: translatey(-0.15em);
  }
}

@keyframes spooky {
  from {
    transform: translatey(0.15em) scaley(0.95);
  }
  to {
    transform: translatey(-0.15em);
  }
}

@media(width > 480px){
    .NotFound404 img{
        width: 150px;
        height: 150px;
    }
}