
  .TicTacPc{
    position: relative;
    display: flex;
    justify-content: center;
    min-height: 80vh;
    align-items: center;
  }
  
  .TicTacPc .game {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
  }
  
  .TicTacPc .board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
  }

 .TicTacPc .board .disabled {
    pointer-events: none;
    opacity: 0.5;
  }

  .TicTacPc .icon {
    font-size: 40px;
  }
  
  .TicTacPc .cell {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    background-color: #f2f2f2;
    font-size: 32px;
    cursor: pointer;
    color:var(--primary);
  }
  
  .TicTacPc .winner {
    margin-top: 20px;
    font-size: 24px;
    font-weight: bold;
  }
  .TicTacPc .button {

    all: unset;
    margin-top: 20px;
    font-size: 1rem;
    background-color: var(--primary);
    padding: 12px;
    border-radius: 15%;
    color: white;
    transition: all .2s ease-in-out;
    padding: 5px 10px;
    border-radius: 50px;
    border: none;
    color: var(--light-bg);
    transition: transform 0.3s ease;
  }

  .TicTacPc .button:hover {
    cursor: pointer;
    transform: scale(1.1); 
  }
  
  .TicTacPc .choose-level{
    display: flex;
    justify-content: center;
    height: 80vh;
  }

  @media(width > 600px){
    .TicTacPc .cell{
     width: 130px;
     height: 130px;
    }
  }
  

  @media(width > 800px){
    .TicTacPc .cell{
     width: 150px;
     height: 130px;
    }
    .TicTacPc .cell {
      font-size: 35px;
    }
  }


  @media(width > 1000px){
    .TicTacPc .cell{
     width: 200px;
     height: 130px;
    }
    .TicTacPc .cell {
      font-size: 40px;
    }
  }


  