.SudokuMenagmentOptions{
    position: relative;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: 55vh;
    min-height: fit-content;
    width: 80vw;
    align-content: center;
    background-color: var(--dark-bg);
    border-radius: 5px;
}
.SudokuMenagmentOptions h2{
    width: 100%;
    margin-block: 10px;
    text-align: center;
}
.SudokuMenagmentOptions .options{
    width: 100%;
    display: flex;
    justify-content: center;
}
.SudokuMenagmentOptions .options button{
    margin: 10px;
    padding: 5px;
    border-radius: 5px;
    border: none;
    color: white;
}

.SudokuMenagmentOptions .options .delete{
    background-color: red;

}
.SudokuMenagmentOptions .options .update{
    background-color: var(--primary);

}

@media (width > 600px) {
    .SudokuMenagmentOptions{

        height: 75vh;
        min-height: fit-content;
        width: 80vw;
    }
}

@media (width > 900px) {
    .SudokuMenagmentOptions{

        height: 75vh;
        min-height: fit-content;
        width: 60vw;
    }
}

@media (width > 1200px) {
    .SudokuMenagmentOptions{

        height: 78vh;
        min-height: fit-content;
        width: 50vw;
    }
}