.SudokuMenagment{
    width: 93vw;
    display: flex;
    justify-content: center;
    margin-top: 10px;
    flex-wrap: wrap;
}
.SudokuMenagment h2{
    font-size: 5vw;
    margin-bottom: 10px;
}
.SudokuMenagment .add-template{
    background-color: var(--secondary);
    color: var(--light-bg);
    border: none;
    border-radius: 5px;
    align-self: center;
}

@media(width > 700px){
    .SudokuMenagment h2{
        font-size: 3vw;
    }
}