.SelectLevel{
    width: 70vw;
    height: fit-content;

    background-color: var(--secondary);
    border-radius: 5px;
    margin: auto;
    padding-bottom: 15px;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: start;

    color: var(--light-bg);
    
}
.SelectLevel h2{
    width: 100%;
    text-align: center;
    font-size: 25px;
    color: white !important;
}
.SelectLevel .level-options{
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    
}
.SelectLevel  .level-options button{
    background-color: var(--primary);
    margin: auto;
    border: none;
    width: 50vw;
    text-transform: capitalize;
    border-radius: 10px;
    font-size: 20px;
    margin-block: 10px;
    padding: 5px;
    color:white;
}

.SelectLevel  .level-options button:hover{
    cursor: pointer;
}

.SelectLevel  h2{
    margin-block: 4%;
}

@media(width > 700px){
    .SelectLevel{
        width: 60vw;
    }
    .SelectLevel  .level-options button{
        width: 40vw;
        padding: 10px;
    }
}

@media(width > 1000px){
    .SelectLevel{
        width: 50vw;
    }
    .SelectLevel  .level-options button{
        width: 30vw;
    }
}