.SelectLevel{
    width: 70vw;
    height: 60vh;

    background-color: black;
    border-radius: 5px;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: start;
    
}
.SelectLevel .level-options{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    height: 85%;
    width: 80%;
}
.SelectLevel  .level-options button{
    width: 100%;
    height: 25%;
    background-color: var(--primary);
    border: none;
    text-transform: capitalize;
    border-radius: 10px;
    font-size: 30px;
}
.SelectLevel  h2{
    margin-block: 4%;
}
