
.AddImageInput{
    background-color: var(--dark-bg);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 5px;
    border-radius: 5px;
    width: 80vw;
    padding-left: 1px;
    max-height: 80vh;
    overflow-y: auto;
}
.AddImageInput .img-input-container{
    height: 40vh;
    width: 80vw;
    margin-bottom: 10px;
    margin-inline: 5px;
}
.AddImageInput button{
    background-color: none;
}
.AddImageInput .imgs-preview{
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    width: 100%;
    padding: 5px;
}
.AddImageInput .imgs-preview img{
    height: 24vw;
    width: 24vw;
    margin: 5px;
}
.AddImageInput .submit-add-img{
    background-color: var(--primary);
    border: none;
    padding: 3px;
    border-radius: 5px;
    margin:2vh;
}
@media(width > 500px){
    .AddImageInput .imgs-preview{
        margin-top: 2vh;
    }
}
@media(width > 700px){
    .AddImageInput .imgs-preview{
        margin-top: 3vh;
    }

}

@media(width > 1000px){
    .AddImageInput .imgs-preview{
        margin-top: 5vh;
    }

}
@media(width > 1200px){
    .AddImageInput .imgs-preview{
        margin-top: 10vh;
    }

}