.CldGamesImgsCollection{
    display: grid;
    grid-template-columns: repeat(3,25vw);
    gap: 5vw;
    width: fit-content;
    margin: auto;
    padding-bottom: 2vh;
}

.CldGamesImgsCollection img{
    height: 25vw;
    width: 25vw;
    object-fit: cover;
    position: absolute;
    z-index: 1;
}
.CldGamesImgsCollection .show{
    height: 35vw;
    width: 35vw;
    top: -5vw;
    left: -5vw;
    z-index: 3;
}

.CldGamesImgsCollection .img-container{
    position: relative;
    height:25vw;
}
.CldGamesImgsCollection .deleteContainer{
    height: 100%;
    width: 100%;
}
.CldGamesImgsCollection .deleteContainer{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
}
.CldGamesImgsCollection .deleteContainer .delete-img{
    position: absolute;
    z-index: 2;
    top: 0px;
    right: 3px;
    padding: 0px;
    font-size: 15px;
    color: red;
    background-color: transparent;
    border: none;
    border-radius: 5px;

}