.CldGamesImgsCollection{
    display: grid;
    grid-template-columns: repeat(3,25vw);
    gap: 5vw;
    width: fit-content;
    margin: auto;
}

.CldGamesImgsCollection img{
    height: 25vw;
    width: 25vw;
    object-fit: cover;
    position: absolute;
    z-index: 3;
}
.CldGamesImgsCollection img:hover{
    height: 35vw;
    width: 35vw;
    z-index: 1;
    top: -5vw;
    left: -5vw;
}

.CldGamesImgsCollection .img-container{
    position: relative;
    height:25vw;
}
.CldGamesImgsCollection .deleteContainer{
    height: 100%;
    width: 100%;
}
.CldGamesImgsCollection .deleteContainer{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
}
.CldGamesImgsCollection .deleteContainer button{
    position: absolute;
    z-index: 2;
    bottom: 2px;
    font-size: 10px;
    background-color: red;
    border: none;
    border-radius: 5px;

}