.MemoryCard {
    display: flex;
    height: 18vh;
    position: relative;
    
}

.MemoryCard .back{
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    transition: all ease-in 0.2s;
    transition-delay: 0.2s ;
    border: var(--secondary) 1px solid;
    border-radius: 5px;
}

.MemoryCard .front{
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    transition: all ease-in 0.2s;
    transform: rotateY(90deg);
    position: absolute;
    border: var(--secondary)1px solid;
    border-radius: 5px;
}
.flipped .front {
    transform: rotateY(0deg);
    transition-delay: 0.2s ;
}

.flipped .back {
    transform: rotateY(90deg);
    transition-delay: 0s ;
}
@media(width > 500px){
    .MemoryCard {
        height: 20vh;
    }
}
@media(width > 700px){
    .MemoryCard {
        height: 24vh;
    }
    .MemoryGameStart .memory-cards-container{
        margin-bottom: -5vh;
    }
}

@media(width > 1000px){
    .MemoryCard {
        height: 30vh;
    }
}