.MemoryCollection{
    display: grid;
    width: 97vw;
    grid-template-columns: repeat(1,97vw);
    margin: auto;
    margin-top: 3vw;
    row-gap: 5vw;
    color: var(--light-bg);
    
}
.MemoryCollection-option{
    background-position: center;
    background: no-repeat ;
    background-size:cover ;
    border:var(--secondary) 2px solid;
    height: 25vw;
    color: var(--light-bg);
}
.MemoryCollection-option {
    cursor: pointer;
}
.MemoryCollection-option  > *{
    text-align: start;
    padding-left: 5px;
    color: white;
}

@media(width > 500px){
    .MemoryCollection{
        width: 85vw;
        grid-template-columns: repeat(2,40vw);
        gap: 5vw;
    }
    .MemoryCollection-option > *{
        height: 25vw;
    }
}

@media(width > 1000px){
    .MemoryCollection{
        width: 96vw;
        grid-template-columns: repeat(3,30vw);
        gap: 3vw;
    }
    .MemoryCollection-option > *{
        height: 20vw;
    }
}

@media(width > 1200px){
    .MemoryCollection{
        width: 95vw;
        grid-template-columns: repeat(4,20vw);
        gap: 5vw;
    }
    .MemoryCollection-option > *{
        height: 20vw;
    }
}