.EndedGameAllert{
    position: fixed;
    inset: 1;
    background-color: var(--light-bg);
    z-index: 7;
    border: var(--secondary)3px solid;
    padding: 30px ;
    width: 70vw;
    margin: 0px 15vw;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.EndedGameAllert .EndedGameAllert-message , .EndedGameAllert-xpmessage{
    color: var(--dark-bg) !important;
    width: 100%;
    text-align: center;
    padding-bottom: 20px;
}

.EndedGameAllert-restart{
    padding: 5px 20px;
    height: fit-content;
    background-color: var(--primary);
    border: none;
    border-radius: 5px;
    font-size: 15px;
    color: white;
}
.EndedGameAllert-exit{
    padding: 5px 20px;
    height: fit-content;
    background-color: red;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    color: white;
}

@media(width > 700px){
    .EndedGameAllert{
        width: 60vw;
        margin: 0px 20vw;
    }
}

@media(width > 1000px){
    .EndedGameAllert{
        width: 50vw;
        margin: 0px 25vw;
    }

}

@media(width > 1200px){
    .EndedGameAllert{
        width: 30vw;
        margin: 0px 35vw;
        
    }

}