
.GameCollection{
    display: grid;
    width: 95vw;
    grid-template-columns: repeat(1,95vw);
    text-align: center;
    row-gap: 5vw;
    padding-bottom: 5vw;
}
.GameCollection > *{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    border-radius: 5px;

    height: 20vw;
    border: 4px var(--secondary) solid;
    transform: rotate(0deg);
    transition: box-shadow ease-in-out 1s, transform ease-in-out 1s;
    display: flex;
    align-items: center;
    text-decoration: none;
}
.GameCollection p{
    margin: auto;
    font-size: 30px;
    color: white;
    text-shadow: white 0px 0px 5px,
    gray 0px 0px 10px,
    black 0px 0px 15px;
}
/* .GameCollection > *:hover{
    box-shadow:  white 0px 2px 10px 4px; 
    transform: rotate(5deg); 
    transition: all ease-in-out 1s;

} */

.GameCollection .memory-game{
    background-image:url('https://res.cloudinary.com/dhojbnefp/image/upload/v1690756372/C3C45339-EB0E-41D8-B857-A16D38B36AD8_dppowt.jpg');
}
.GameCollection .memory-game:hover{
    border: 5px solid #0000;
    background: url('https://res.cloudinary.com/dhojbnefp/image/upload/v1690756372/C3C45339-EB0E-41D8-B857-A16D38B36AD8_dppowt.jpg') padding-box, linear-gradient(
          var(--angle),
          var(--secondary),
          #00bbff
        ) border-box  ; 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    animation: 6s rotate linear infinite;
}



.GameCollection .ticTac-game{
    background-image:url('https://res.cloudinary.com/dhojbnefp/image/upload/v1690756191/93B8DCAE-D0A7-43CB-AD8C-6B3660BAB87C_wllz6e.jpg');
}

.GameCollection .ticTac-game:hover{
    border: 5px solid #0000;
    background: url('https://res.cloudinary.com/dhojbnefp/image/upload/v1690756191/93B8DCAE-D0A7-43CB-AD8C-6B3660BAB87C_wllz6e.jpg') padding-box, linear-gradient(
          var(--angle),
          var(--secondary),
          #00bbff
        ) border-box  ; 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    animation: 6s rotate linear infinite;
}



.GameCollection .roulette-game{
    background-image:url('https://res.cloudinary.com/dhojbnefp/image/upload/v1690755036/E6E9E94B-8F98-4453-BE9B-3055FB8436E2_njkvyr.jpg');
}

.GameCollection .roulette-game:hover{
    border: 5px solid #0000;
    background: url('https://res.cloudinary.com/dhojbnefp/image/upload/v1690755036/E6E9E94B-8F98-4453-BE9B-3055FB8436E2_njkvyr.jpg') padding-box, linear-gradient(
          var(--angle),
          var(--secondary),
          #00bbff
        ) border-box  ; 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    animation: 6s rotate linear infinite;
}



.GameCollection .sudoko-game{
    background-image:url('https://res.cloudinary.com/dhojbnefp/image/upload/v1690756051/A295D9C4-82D0-4A45-B222-8CF41FC241B3_eyg1el.jpg');
}
.GameCollection .sudoko-game:hover{
    border: 5px solid #0000;
    background: url('https://res.cloudinary.com/dhojbnefp/image/upload/v1690756051/A295D9C4-82D0-4A45-B222-8CF41FC241B3_eyg1el.jpg') padding-box, linear-gradient(
          var(--angle),
          var(--secondary),
          #00bbff
        ) border-box  ; 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    animation: 6s rotate linear infinite;
}




.GameCollection .slide-puzzle-game{
    background-image: url("https://res.cloudinary.com/dhojbnefp/image/upload/v1690755927/7D6F2BF0-C934-47B3-9D10-EBB5D9338D95_ym7x0l.jpg");
}
.GameCollection .slide-puzzle-game:hover{
    border: 5px solid #0000;
    background: url("https://res.cloudinary.com/dhojbnefp/image/upload/v1690755927/7D6F2BF0-C934-47B3-9D10-EBB5D9338D95_ym7x0l.jpg")  padding-box, linear-gradient(
          var(--angle),
          var(--secondary),
          #00bbff
        ) border-box  ; 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    animation: 6s rotate linear infinite;
}

.GameCollection .puzzle-game{
    background-image:  url("https://res.cloudinary.com/dhojbnefp/image/upload/v1690755178/919F3E9D-CD7B-4DF4-8B4A-E2A7ECF1EC1F_srewus.jpg");
}
.GameCollection .puzzle-game:hover{
    border: 5px solid #0000;
    background:  url("https://res.cloudinary.com/dhojbnefp/image/upload/v1690755178/919F3E9D-CD7B-4DF4-8B4A-E2A7ECF1EC1F_srewus.jpg") padding-box, linear-gradient(
          var(--angle),
          var(--secondary),
          #00bbff
        ) border-box  ; 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    animation: 6s rotate linear infinite;
}

.GameCollection .circles-fight-game{
    background-image: url("https://res.cloudinary.com/dhojbnefp/image/upload/v1690754064/%D7%A6%D7%99%D7%9C%D7%95%D7%9D_%D7%9E%D7%A1%D7%9A_2023-07-31_%D7%91-0.52.21_ooni9x.png");
}
.GameCollection .circles-fight-game:hover{
    border: 5px solid #0000;
    background:url("https://res.cloudinary.com/dhojbnefp/image/upload/v1690754064/%D7%A6%D7%99%D7%9C%D7%95%D7%9D_%D7%9E%D7%A1%D7%9A_2023-07-31_%D7%91-0.52.21_ooni9x.png") padding-box, linear-gradient(
          var(--angle),
          var(--secondary),
          #00bbff
        ) border-box  ; 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    animation: 6s rotate linear infinite;
}
.GameCollection .break-out-game{
    background-image: url("https://res.cloudinary.com/dhojbnefp/image/upload/v1690754271/D8B0D115-42AD-4AA1-811E-0B729F2071D2_z0khg1.jpg");
    background-position: bottom;
}

.GameCollection .break-out-game:hover{
    border: 5px solid #0000;
    background:url("https://res.cloudinary.com/dhojbnefp/image/upload/v1690754271/D8B0D115-42AD-4AA1-811E-0B729F2071D2_z0khg1.jpg") padding-box, linear-gradient(
          var(--angle),
          var(--secondary),
          #00bbff
        ) border-box  ; 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    animation: 6s rotate linear infinite;
}

@media(width > 500px){
    .GameCollection{
        width: 85vw;
        grid-template-columns: repeat(2,40vw);
        gap: 5vw;
        margin-top: 5vh;
    }
    .GameCollection > *{
        height: 20vw;
    }
    .GameCollection .break-out-game{
        background-position: center;
    }
}

@media(width > 1000px){
    .GameCollection{
        width: 89vw;
        grid-template-columns: repeat(4,20vw);
        gap: 3vw;
        height: fit-content;
        margin-top: 10vh;
    }
    .GameCollection > *{
        height: 15vw;
    }
}


  
  @keyframes rotate {
    to {
      --angle: 360deg;
    }
  }
  
  @property --angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
  }
  
/* @media(width > 1200px){
    .GameCollection{
        width: 80vw;
        grid-template-columns: repeat(4,15vw);
        gap: 5vw;
        margin-top: 10vh;
    }
    .GameCollection > *{
        height: 10vw;
    }
    .GameCollection > *:hover{

        transform: rotate(15deg); 

    }
} */