.LogInForm{
    background-color: var(--dark-bg);
    border-radius: 10px;
    padding: 10px;
    padding-block: 20px;
    padding-bottom: 30px;
    display: flex;
    justify-content: center;
    align-content: start;
    flex-wrap: wrap;
    width: 85vw;
}

.LogInForm .login-nav{
    color: var(--primary);
    font-size: 25px;
    
}
.LogInForm .sign-up{
    border: none;
    background-color: transparent;
}

.LogInForm .login-form{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
}

.LogInForm .login-form label{
    width: 100%;
    margin-inline:12% ;
    margin-top: 15px;
}
.LogInForm .input{
    width: 76%;
    background-color: var(--secondary);
    border-radius: 5px;
    padding: 7px;
    margin: 2px;
    position: relative;
    display: flex;
    align-items: center;
}
.LogInForm .login-form input{
    width: 100%;
    background-color: transparent;
    border: none;
    outline: none;

}

.LogInForm .forgot-password{
    color: var(--light-bg);
    font-size: small;
    margin-top: 10px;
    width: 100%;
    text-align: center;
}

.LogInForm .login-form .login-button{
    background-color: var(--primary);
    border: none;
    margin-top: 20px;
    padding: 10px 30px;
    border-radius: 50px;
}

.LogInForm .eye-icon{
    position: absolute;
    right: 4px;
}

.LogInForm .lock-icon {
    position: absolute;
    right: 22px;
}
.LogInForm .email-icon{
    position: absolute;
    right: 4px;
}

.LogInForm .error-server p {
    color: red;
}

.LogInForm .error-client p{
    color: red;
}

@media(width > 700px){
    .LogInForm{
        width: 75vw;
    }
}
@media(width > 1000px){
    .LogInForm{
        width: 60vw;
    }
}
@media(width > 1200px){
    .LogInForm{
        width: 40vw;
    }
}