@keyframes flip{
    from{
        transform: rotateY(0deg)
    }
    to{
        transform: rotateY(360deg);
    }
}


.Logo{
    display: flex;
   
}
.Logo .logo-name{
    font-size: 20px;
    width: 70px;
    align-self: center;
    font-family: Impact, sans-serif; 
    margin-left: -1vw;
    color: white;
}
.Logo .logo-image{
    background: url('../../assets/icons/logo2.png') center;
    background-position: center;
    background-size: contain;
    height: 60px;
    width: 60px;
}
.Logo .logo-image:hover{
    animation: flip 1s infinite ease-in-out;
}
