

.NavBar .header{
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    padding-block: 4px;
    background-color: var(--secondary); 
    /* background-color: rgba(33, 34, 51, 0.9); */
}

.NavBar .right-nav{
    display: flex;
    height: 100%;
    align-items: center;
}

.NavBar .account-dropdown{
    position: relative;
    height: 0px;
    
}






.NavBar .login{
    border: white 1px solid ;
    padding-inline: 5px;
    margin-inline: 5px;
}
