

.NavBar .header{
    width: 97vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    padding-block: 4px;
}


.NavBar .account-dropdown{
    position: relative;
    height: 0px;
    
}






.NavBar .login{
    border: white 1px solid ;
    padding-inline: 5px;
    margin-inline: 5px;
}
