
.ProfileImgAndLevel{
    height: 50px;
    width: 50px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.ProfileImgAndLevel .profile-img-border{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(250, 250, 250);
}
.ProfileImgAndLevel .profile-img{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    /* background: url("https://cdn-icons-png.flaticon.com/512/172/172163.png?w=1380&t=st=1686294406~exp=1686295006~hmac=6d0c4f48de7d3358ef4fa3a0adc29bd588f6be37fc03da9745af1169836542da") center/cover; */
}

.ProfileImgAndLevel svg{
    position: absolute;
    top: 0;
    left: 0;
    /* box-shadow: -1px -1px 8px 0px ,
    1px 1px 8px 0px rgb(56, 167, 252); */

    border-radius: 50%;

}
.ProfileImgAndLevel circle{
    fill: none;
    stroke:url("#GradientColor");
    /* stroke-dasharray: 1000;
    stroke-dashoffset: 855; */
    stroke-width: 4px; 
}



.ProfileImgAndLevel .level-container{
    position: absolute;
    font-size: 30px;
    bottom: 22px;
    left: -12px;
}
.ProfileImgAndLevel .level{
    font-size: 9px;
    font-weight: bold;
    position: absolute;
    text-align: center;
    width: 20px;
    bottom: -19px;
    left: 5px;
    background-color: white;
    color: var(--primary);
}