
.swichTheme {
    height: 22px;
}
.swichTheme .swich {
    position: relative;
    width: 50px;
    margin-left: -65px;
    margin-bottom: -5px;
    align-self: center;
}
  
 .swichTheme label {
    position: absolute;
    width: 100%;
    height: 25px;
    background-color: var(--dark-bg);
    border-radius: 50px;
    cursor: pointer;
  }
  
  .swichTheme input {
    position: absolute;
    display: none;
  }
  
  .swichTheme .slider {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50px;
    transition: 0.3s;
  }
  
  .swichTheme input:checked ~ .slider {
    background-color: var(--dark-bg);
  }
  
  .swichTheme .slider::before {
    content: "";
    position: absolute;
    top: 3px;
    left: 4px;
    width: 19px;
    height: 19px;
    border-radius: 50%;
    box-shadow: 
      inset 1px -2px 0px 0px #00ebff,
      inset 2px -2px 0px 0px #00dbff ,
      inset 3px -2px 0px 0px #00cdff ,
      inset 4px -2px 0px 0px #00bbff ,
      inset 5px -2px 0px 0px #00abff ,
      inset 6px -2px 0px 0px #009bff ,
      inset 7px -2px 0px 0px #008bff ,
      inset 7px -2px 0px 0px #007bff;
    background-color: var(--dark-bg);
    transition: 0.3s;
  }
  
  .swichTheme input:checked ~ .slider::before {
    transform: translateX(23px);
    background-image: var(--gradiant-primary);
    box-shadow: none;
  }
  