.UserDropDownMenu{
    position: absolute;
    z-index: 2;
    top:5px;
    left: -33vw;
    width: 43vw;
    border: var(--primary) 1px solid;
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    padding: 5px;
    justify-content: center;
}
.UserDropDownMenu .profile-details{
    border-bottom: var(--primary) 1px solid;
    overflow-wrap: break-word;
    width: calc(43vw - 10px);
    padding-block:10px ;
    margin-bottom: 5px;
}
.UserDropDownMenu .profile-details p{
    color: black;
    font-weight: bolder;
}
.UserDropDownMenu .profile-details .email{
    font-size: 12px;
    color:#333;
    font-weight: normal;
    padding-top: 5px;
}

.UserDropDownMenu .dropdown-option{
    background-color: transparent;
    border: none;
    color: black;
    width: 100%;
    padding-block:10px ;
}
.UserDropDownMenu .dropdown-option:hover{
    background-color: var(--primary);
    color: white;
    border-radius: 5px;
}