.UserDropDownMenu{
    position: absolute;
    z-index: 5;
    top:5px;
    left: -34vw;
    width: 43vw;
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    background-color: var(--secondary);
    padding: 5px;
    justify-content: center;
    box-shadow: -1px 2px 10px var(--light-bg) ;
    
}
.UserDropDownMenu .profile-details{
    border-bottom: var(--primary) 1px solid;
    overflow-wrap: break-word;
    width: calc(43vw - 10px);
    padding-block:10px ;
    margin-bottom: 5px;
}
.UserDropDownMenu .profile-details p{
    color: white;
    font-weight: bolder;
}
.UserDropDownMenu .profile-details .email{
    font-size: 12px;
    color:#8e8e8e;
    font-weight: normal;
    padding-top: 5px;
}

.UserDropDownMenu .dropdown-option{
    background-color: transparent;
    border: none;
    color: white;
    width: 100%;
    padding-block:10px ;
    cursor: pointer;
}
.UserDropDownMenu .dropdown-option:hover{
    background-color: var(--dark-bg);
    color: var(--primary);
    border-radius: 5px;
}

@media(width > 500px){
    .UserDropDownMenu{
        left: -21vh;
        width: 25vh;
    }
}