.SearchUsers{
    background-color: var(--dark-bg);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: start;
    padding-top: 5vh;
    width: 85vw;
    min-height: 60vh;
    overflow-y: auto;
    border-radius: 5px;
    color: var(--light-bg);
}
.SearchUsers input{
    background-color: transparent;
    border: var(--secondary) 3px solid;
    height: 25px;
    width: 80%;
    margin-block: 10px;
    border-radius: 5px;
    outline: none;
    color: var(--light-bg);
}

.SearchUsers .UsersList{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    border-radius: 10px;
    align-content: start;
    color: white;
}

.SearchUsers .UsersList .user{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    padding: 5px;
    padding-inline: 10px;
    height: fit-content; 
    margin-block:5px;
    background-color: var(--secondary);
    border-radius: 5px;
    color: white;
}
.SearchUsers .user .user-profile{
    display: flex;
    align-items: end;
    color: white;
}
.SearchUsers .user .user-profile-img{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    margin-right: 5px;
    color: var(--light-bg);
}

@media (width > 500px ){
    .SearchUsers{
        min-height: 70vh ;
    }
    .SearchUsers h3{
        font-size: 30px;
    }
    .SearchUsers .UsersList .user p{
        font-size: 20px;
    }
}

@media (width > 1000px){
    .SearchUsers{
        width: 60vw;
    }
    .SearchUsers input{
        width: 70%;
    }
} 