
.UsersList .add{
    border-radius: 10px;
    background-color: var(--light-bg);
    border:none;
    color: var(--dark-bg);
    padding: 2px 10px 2px 10px;
}
.UsersList .add:hover{
    background-color: var(--primary);
    color: white;
}

.UsersList .pending{
    border-radius: 10px;
    opacity: 0.7;
    background-color: var(--primary);
    border:none;
    color: var(--dark-bg);
    padding: 2px 10px 2px 10px;
}

.UsersList .user .user-profile-img{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    margin-right: 5px;
}
.UsersList .remove{
    padding: 2px 10px 2px 10px;
    border:1px solid red;
    color: red;
    background-color: transparent;
    border-radius: 10px;
}

@media(width > 500px){
    .UsersList .user .user-profile-img{
        height: 50px;
        width: 50px;
    }
}