.users-list{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 80vw;
    background-color: rgb(0, 0, 0);
    height: 80vh;
    border-radius: 10px;
}

.users-list .user{
    width: 80%;
}