.AddMemoryGame{
    height: fit-content;
    width: 80vw;
    background-color: var(--dark-bg);
    padding: 5px;
    padding-block: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-radius: 5px;
    color: var(--light-bg);
}
.AddMemoryGame .form .lable-container .AiOutlinePlus{
    background-color: var(--primary);
    border-radius: 3px;
    color: var(--light-bg);
}
.AddMemoryGame h2{
    width: 100%;
    text-align: center;
    margin-bottom:10px ;
    color: var(--light-bg);
}
.AddMemoryGame .form{
    width: 75vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-inline: 5%;
}
.AddMemoryGame .api-lable{
    width: 100%;
    text-align: start;
}

.AddMemoryGame .headers-container{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 10px;
}

.AddMemoryGame .form .input {
    width: 100%;
    background-color:var(--secondary);
    border: none;
    padding: 3px;
    margin-bottom:10px ;
    border-radius: 5px; 
    outline-color: var(--primary);
    color: white;
}
.AddMemoryGame .headers-container .input{
    margin: 0px;
    width: 40%;
}
.AddMemoryGame .form .lable-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-inline: 5px;
}
.AddMemoryGame .form .input-container{
    position: relative;
    display: flex;
    width: 100%;
    height: fit-content;
}
.AddMemoryGame .form .input-container button{
    position: absolute;
    right: 5px;
    background-color: transparent;
    padding: 0px;
    margin: 0px;
    top: 2px;
    font-size: large;
    color: red;
    
}

.AddMemoryGame .image-input-container{
    margin-bottom: 10vw;
    height: 12vh;
    width: 100%;
}

.AddMemoryGame .form button{
    padding: 5px;
    padding-inline: 10px;
    background-color: var(--primary);
    border: none;
    border-radius: 10px;
    margin-top: 5px;
    color: white;
}

.AddMemoryGame .error-field{
    border: 1px solid red;
    padding: 5px;
    background-color: rgb(249, 110, 110);
    color: white;
    border-radius: 3px;
    width: 80%;
    text-align: center;
    margin-bottom: 2vh;
}

@media(width > 700px){
    .AddMemoryGame {
        font-size: 20px;
    }
    .AddMemoryGame .form .input{
        padding: 7px;
        font-size: 15px;
    }
}

@media(width > 1000px){
    .AddMemoryGame .image-input-container{
        margin-bottom: 8vw;
    }
    .AddMemoryGame{
        width: 70vw;
    }
}
@media(width > 1200px){
    .AddMemoryGame{
        width: 60vw;
    }
}