
.EditMemoryGame{
    position: relative;
    margin: auto;
    height: fit-content;
    max-height: 90vh;
    overflow-y: auto;
    width: 80vw;
    background-color: var(--dark-bg);
    padding: 5px;
    padding-block: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-radius: 5px;
    color: var(--light-bg);
}
.EditMemoryGame h2{
    width: 100%;
    text-align: center;
    margin-bottom:10px ;
    color: var(--light-bg);
}
.EditMemoryGame .form{
    width: 75vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-inline: 5%;
    color: var(--light-bg);
}
.EditMemoryGame .api-lable{
    width: 100%;
    text-align: start;
    color: var(--light-bg);
}

.EditMemoryGame .headers-container{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 10px;
    color: var(--light-bg);
}

.EditMemoryGame .form .input {
    width: 100%;
    background-color: var(--secondary);
    border: none;
    padding: 3px;
    margin-bottom:10px ;
    border-radius: 5px; 
    outline-color: var(--primary);
    color: white;
    
}
.EditMemoryGame .headers-container .input{
    margin: 0px;
    width: 40%;
}
.EditMemoryGame .form .lable-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-inline: 5px;
}
.EditMemoryGame .form .lable-container .AiOutlinePlus{
    background-color: var(--primary);
    border-radius: 3px;
}
.EditMemoryGame .form .input-container{
    position: relative;
    display: flex;
    width: 100%;
    height: fit-content;
}
.EditMemoryGame .form .input-container button{
    position: absolute;
    right: 5px;
    background-color: transparent;
    padding: 0px;
    margin: 0px;
    top: 2px;
    font-size: large;
    color: red;
    
}

.EditMemoryGame .image-input-container{
    margin-bottom: 160px;
    height: 12vh;
    width: 100%;
    
}


.EditMemoryGame .form button{
    padding: 5px;
    padding-inline: 10px;
    background-color: var(--primary);
    border: none;
    border-radius: 10px;
    margin-top: 5px;
    color: white;
}

.EditMemoryGame .error-field{
    border: 1px solid red;
    padding: 5px;
    background-color: rgb(249, 110, 110);
    color: white;
    border-radius: 3px;
    width: 80%;
    text-align: center;
    margin-bottom: 2vh;
}
.EditMemoryGame .deleteButton{
    background-color: red !important;
    margin-right: 20%;
}

@media(width > 700px){
    .EditMemoryGame{
        font-size: 20px;
    }
    .EditMemoryGame .form .input{
        padding: 5px;
        font-size: 15px;
    }
    .EditMemoryGame .image-input-container{
        margin-bottom: 15vh;
        height: 12vh;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .EditMemoryGame .api-lable{
        font-size: 20px;
    }
    .EditMemoryGame .image-input-container img{
        width: 49%;
        height:20vw;
    }
    .drop-place{
        width: 49%;
        height:20vw;
        border: 2px dashed var(--secondary);
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .EditMemoryGame .image-input-container .ImgDropInput{
        width: 100%;
        height: 100%;
        position: absolute;
        border: none;
    }
    .EditMemoryGame .image-input-container .ImgDropInput input{
        margin-right: -10vw;
    }
    .EditMemoryGame .image-input-container .img-lable{
        margin-right: 40vw;
    }
}
@media(width > 1000px){
    .EditMemoryGame{
        font-size: 25px;
    }
    .EditMemoryGame .form .input{
        padding: 8px;
        font-size: 15px;
    }
    .EditMemoryGame .image-input-container{
        margin-bottom: 20vh;
    }
}
@media(width > 1200px){
    .EditMemoryGame .image-input-container{
        margin-bottom: 28vh;
    }
}