.MemoryGameMenagmentCollection .memory-details-container{
    width: 90vw;
    margin-bottom: 3vw;
    padding: 10px;
    border-radius: 5px;
    position: relative;
    background-color: var(--secondary);
    color: white;
}
.MemoryGameMenagmentCollection .memory-details-container .headers{
    width: 100%;
    overflow-wrap: break-word;
}
.MemoryGameMenagmentCollection .memory-details-container .api{
    width: 100%;
    overflow-wrap: break-word;
}
.MemoryGameMenagmentCollection .memory-details-container span{
    font-size: 1.17em;
    color: var(--primary);
    font-weight: bold;
}
.MemoryGameMenagmentCollection .memory-details-container h1{
    width: 100%;
    text-align: center;
    margin-bottom: 5px;
}
.MemoryGameMenagmentCollection .memory-details-container h3{
    color: var(--primary);
}
.MemoryGameMenagmentCollection .details-container{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.MemoryGameMenagmentCollection .details-container .keys-details{
    width: 69%;
}
.MemoryGameMenagmentCollection .details-container img{
    width: 120px;
    height: 120px;
}
.MemoryGameMenagmentCollection .edit-icon{
    position: absolute;
    right: 7px;
    top: 7px;
}
.mobile{
    display: block;
}
.desk{
    display: none;
}
@media(width > 700px){
    .MemoryGameMenagmentCollection .memory-details-container{
        width: 80vw;
    }
    .MemoryGameMenagmentCollection .details-container img{
        width: 150px;
        height: 150px;
    }
    .desk{
        display: block;
    }
    .mobile{
        display: none;
    }
}
@media(width > 1000px){
    .MemoryGameMenagmentCollection .memory-details-container{
        width: 70vw;
    }
    .MemoryGameMenagmentCollection .details-container img{
        width: 200px;
        height: 200px;
    }
}
