.ResetPassword{
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    position: relative;
}
.ResetPassword-email-container{
    width: 80vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.ResetPassword-email-container > *{
    margin-bottom: 10px;
}
.ResetPassword-email-container h2{
    width: 100%;
    text-align: center;
}
.ResetPassword-email-container input{
    background-color: var(--secondary);
    width: 100%;
    border-radius: 5px;
    border: none;
    padding: 5px;
}
.ResetPassword-email-container button{
    background-color: var(--primary);
    border-radius: 10px;
    padding: 5px 10px;
    border: none;
    margin-inline: 20vw;
}

@media (width > 500px){
    .ResetPassword-email-container input{
        width: 90%;
    }
}
@media (width > 700px){
    .ResetPassword-email-container input{
        width: 80%;
    }
}
@media (width > 1000px){
    .ResetPassword-email-container input{
        width: 60%;
    }
}
@media (width > 1200px){
    .ResetPassword-email-container input{
        width: 50%;
    }
}