.ResetPasswordValidation{
    width: 80vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.ResetPasswordValidation > * {
    margin-bottom: 10px;
}
.ResetPasswordValidation h2{
    text-align: center;
    
}
.ResetPasswordValidation input{
    background-color: var(--secondary);
    border: none;
    border-radius: 10px;
    padding: 5px;
    width: 70%;
}

@media(width > 500px){
    .ResetPasswordValidation h2{
        width: 80%;
    }
    .ResetPasswordValidation input{
        width: 65%;
    }
}

@media(width > 900px){
    .ResetPasswordValidation h2{
        width: 60%;
    }
    .ResetPasswordValidation input{
        width: 50%;
    }
}

@media(width > 1200px){
    .ResetPasswordValidation h2{
        width: 40%;
    }
    .ResetPasswordValidation input{
        width: 30%;
        margin-inline: 20%;
    }
}