.ResetPasswordForm{
    width: 80vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.ResetPasswordForm >* {
    margin-bottom: 15px;
}
.ResetPasswordForm h2{
    text-align: center;
}
.ResetPasswordForm input{
    padding: 5px;
    background-color: var(--secondary);
    border: none;
    border-radius: 5px;
    width: 90%;
}
.ResetPasswordForm button{
    background-color: var(--primary);
    border: none;
    padding: 5px 10px ;
    border-radius: 10px;
    margin-inline: 20%;
}
@media (width > 500px){
    .ResetPasswordForm input{
        width: 80%;
    }
}
@media (width > 700px){
    .ResetPasswordForm input{
        width: 70%;
        margin-inline: 10%;
    }
}
@media (width > 1000px){
    .ResetPasswordForm input{
        width: 50%;
        margin-inline: 20%;
    }
}
@media (width > 1200px){
    .ResetPasswordForm input{
        width: 40%;
        margin-inline: 20%;
    }
}