.EditUser{
    width: 80vw;
    height: fit-content;
    padding-block: 40px ;
    background-color: var(--dark-bg);
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.EditUser h2{
    width: 100%;
    font-size: 20px;
    text-align: center;
    margin-bottom: 5px;
}
.EditUser-form{
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-inline: 7vw;
}
.EditUser-form label{
    font-size: 15px;
    width: 100%;
    color: var(--light-bg);
}
.EditUser-form input {
    margin-bottom: 10px;
    width: 100%;
    padding: 5px;
    color: var(--light-bg);
    border: none;
    border-radius: 5px;
    background-color: var(--secondary);
}
.EditUser-form button {
    background-color: var(--primary);
    color: var(--light-bg);
    border: none;
    padding-block: 5px;
    width: 100%;
    font-size: 15px;
    border-radius: 10px;
    margin-top: 15px;
}

.EditUser-form-level{
    width: 40%;
}
.EditUser-form-level input{
    width: 90%;
    text-align: center;
}

@media(width > 700px){
    .EditUser{
        width: 70vw;
    }
    .EditUser-form-level input{
        width: 95%;
    }
}

@media(width > 1000px){
    .EditUser{
        width: 60vw;
    }
}
@media(width > 1200px){
    .EditUser{
        width: 45vw;
    }
}