.UsersSortNav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90vw;
    margin: auto;
    padding-top:10px ;
    padding-bottom: 5px;

}

.UsersSortNav-input-container{
    width: 70%;
    display: flex;
    justify-content: end;
    height: fit-content;
}

.UsersSortNav-input-container input{
    width: 100%;
    border-radius: 5px;
    padding: 3px;
    border: 3px solid var(--secondary);
    color: white;
    outline: none;
    text-align: center;
    background-color: transparent;
    
}

.UsersSortNav-select select{
    width: 100%;
    color: var(--light-bg);
    background-color: var(--secondary);
    border-radius: 5px;
    border: none;
    padding: 3px;
}

.UsersSortNav-refresh-container{
    display: flex;
}
.UsersSortNav-refresh-container > *{
    position: static;
    font-size: 15px;
    align-self: center;
    justify-self: center;
}

