.sersMenagment {
    font-size: 10px;
    line-height: 30px;
    font-weight: 400;
    color: #3b3b3b;

    /* -webkit-font-smoothing: antialiased; 
    -moz-osx-font-smoothing: grayscale; */
  }
  @media screen and (max-width: 700px) {
    .sersMenagment {
      font-size: 10px;
      line-height: 30px;
    }
  }
  
  .sersMenagment .wrapper {
    margin: 0 auto;
    padding-inline: 10px;
    width: 90vw;
    overflow-x: auto;
  }
  
  .sersMenagment .table {
    margin: 0 0 40px 0;
    width: 100%;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    display: table;
    border-radius: 20px;
  }
  @media screen and (max-width: 700px) {
    .sersMenagment .table {
      display: block;
    }
  }

  @media (width > 700px){
    .sersMenagment .cell:nth-of-type(odd){
        background: #e9e9e9;
    }
  }
  

  .sersMenagment .row {
    display: table-row;
    background: #f6f6f6;
  }
  .sersMenagment .row:nth-of-type(odd) {
    background: #e9e9e9;
  }
  .sersMenagment .row.header {
    width: 90vw;
    font-weight: 900;
    color: #ffffff;
    background: var(--primary);
  }

  .sersMenagment .row.green {
    background: #27ae60;
    
  }
  .sersMenagment .row.blue {
    background: #2980b9;
  }
  @media screen and (max-width: 700px) {
    .sersMenagment .row {
      padding: 14px 0 7px;
      display: block;
      position: relative;
    }
    .sersMenagment .row.header {
      padding: 0;
      height: 6px;
      background-color: var(--primary);
    }
    .sersMenagment .row.header .cell {
      display: none;
    }
    .sersMenagment .row .cell {
      margin-bottom: 10px;
    }
    .sersMenagment .row .cell:before {
      margin-bottom: 3px;
      content: attr(data-title);
      min-width: 98px;
      font-size: 10px;
      line-height: 10px;
      font-weight: bold;
      text-transform: uppercase;
      color: #969696;
      display: block;
    }
  }
  
  .sersMenagment .cell {
    padding: 6px 12px;
    display: table-cell;
    height: fit-content;
    font-size: 20px;
  }
  .edit-cell{
    position: relative;
    min-width: 50px;
    user-select: none;
  } 
  
  .edit-cell .edit-cell-icon{
    background-color: var(--primary);
    border-radius: 1px;
    font-size: 20px;
    left: 45%;
    top: 20%;
  }

  .menu-opened {
    min-width: 80px;
  }
  .menu-opened .edit-cell-icon{
    left: 9vw;
  }
  .sersMenagment .actions-container{
    display: flex;
    position: absolute;
    justify-content: space-between;
    width: 6vw;
  }

  .sersMenagment .actions-container .action-item-1 > * {
    position: static;
    background-color: rgb(255, 80, 80);
    border-radius: 1px;
  }
  .sersMenagment .actions-container .action-item-0 > * {
    background-color: rgb(255, 205, 80);
    position: static;
    border-radius: 1px;
  }

  @media screen and (max-width: 700px) {
    .sersMenagment .cell {
      padding: 2px 16px;
      display: block;
      width: 80%;
      background-color: transparent;
    }

    .edit-cell{
        position: static;
    } 

    .edit-cell .edit-cell-icon{
        left: 83vw;
        top: 2vh;
        position: absolute;
    }
    .sersMenagment .actions-container {
      display: flex;
      flex-wrap: wrap;
      position: absolute;
      top: 6vh;
      left: 83vw;
      width: 30px;
    }
    
    .sersMenagment .actions-container .action-item-1 > * {
      position: static;
      margin-top: 3px;
      background-color: rgb(255, 80, 80);
      border-radius: 1px;
    }
    .sersMenagment .actions-container .action-item-0 > * {
      margin-top: 5px;
      background-color: rgb(255, 205, 80);
      position: static;
      border-radius: 1px;
    }

  }






