.SignUpForm{
    background-color: var(--dark-bg);
    border-radius: 10px;
    padding: 10px;
    padding-block: 20px;
    padding-bottom: 30px;
    display: flex;
    justify-content: center;
    align-content: start;
    flex-wrap: wrap;
    width: 85vw;
    color: var(--light-bg);
} 

.SignUpForm .signUp-nav{
    color: var(--primary);
    font-size: 25px;
    
}
.SignUpForm .log-in{
    border: none;
    background-color: transparent;
    color: var(--light-bg);
}

.SignUpForm .signUp-form{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
}

.SignUpForm .signUp-form label{
    width: 100%;
    margin-inline:12% ;
    margin-top: 15px;
}
.SignUpForm .input{
    width: 76%;
    background-color: var(--secondary);
    border-radius: 5px;
    padding: 7px;
    margin: 2px;
    position: relative;
    display: flex;
    align-items: center;
}
.SignUpForm .signUp-form input{
    width: 100%;
    background-color: transparent;
    border: none;
    color: white;
}

.SignUpForm .forgot-password{
    color: var(--primary);
    font-size: small;
    margin-top: 10px;
    width: 100%;
    text-align: center;
}

.SignUpForm .signUp-form .signUp-button{
    background-color: var(--primary);
    margin-inline: 10vw;
    border: none;
    margin-top: 20px;
    padding: 10px 30px;
    border-radius: 50px;
    color: white;

}

.SignUpForm .signUp-form .eye-icon{
    position: absolute;
    right: 4px;
    color: white;
}
.SignUpForm .signUp-form .lock-icon{
    position: absolute;
    right: 22px;
    color: white;
}
.SignUpForm .signUp-form .email-icon{
    position: absolute;
    right: 4px; 
    color: white;
}
.SignUpForm .signUp-form .user-icon{
    position: absolute;
    right: 4px; 
    color: white;
}

.SignUpForm .error-server p {
    color: red;
}
.SignUpForm .error-client p{
    color: red;
}

@media(width > 700px){
    .SignUpForm{
        width: 75vw;
    }
}
@media(width > 1000px){
    .SignUpForm{
        width: 60vw;
    }
}
@media(width > 1200px){
    .SignUpForm{
        width: 40vw;
    }
}