.SlidePuzzleImgInput{
    padding-block: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.SlidePuzzleImgInput .open-input{
    background-color: var(--primary);
    border: none;
    padding: 3px;
    border-radius: 5px;
    width: 75%;
    margin-block:10px;
}
.SlidePuzzleImgInput .img-input-container{
    height: 100px;
    width: 70vw;
    margin-bottom: 20px;
    margin-left: -5px;
}

@media(width > 500px){
    .SlidePuzzleImgInput .img-input-container{
        margin-bottom: 5vh;
    }
}

@media(width > 1000px){
    .SlidePuzzleImgInput .img-input-container{
        margin-bottom: 10vh;
    }
}