.slide-grid{
    display: flex;
    flex-wrap:wrap ;
    width: 909px;
    position: relative;
    margin: auto;
}
.slide-image{
    height: 300px;
    width: 300px;
    border:  white 1px solid;
    z-index: 2;
}
.outer-img{
    background-position: bottom right;
    opacity: 0.5;
}

/*               style.backgroundPosition = "bottom right";
              style.opacity = '0.4';
              style.position = 'absolute';
              style.bottom = '1px';
              style.right = '9px';
              style.zIndex = '1'; */