
.SlidePuzzleStartGame{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 80vh;
}
.SlidePuzzleStartGame .slide-grid{
    margin-block: 10% ;
    margin-inline: auto ;
    display: flex;

    flex-wrap:wrap ;
    position: relative;
}
.SlidePuzzleStartGame .slide-image{
    border:  white 1px solid;
    z-index: 2;
}

.SlidePuzzleStartGame .bg-image{
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    opacity: 0.3;
}