.SlidePuzzleCollection{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-inline:10% ;
    gap:30px ;
}

.SlidePuzzleCollection .image-preview{
    position: relative;
}

.SlidePuzzleCollection img{
    height: 150px;
    width: 150px;
}

.SlidePuzzleCollection .demo-grid{
    width: 150px;
    display: grid;
    grid-template-columns: repeat(3,50px);
    position: absolute;
    left: 0px;
    top: 0px;
}
.SlidePuzzleCollection .inner-demo-grid{
    height: 50px;
    border:  1px solid white;
}
.SlidePuzzleCollection .inner-demo-grid:last-child{
    background-color: rgba(255, 255, 255,0.4)
}