.slide-grid{
    display: flex;
    flex-wrap:wrap ;
    position: relative;
    margin: auto;
}
.slide-image{
    border:  white 1px solid;
    z-index: 2;
}

.bg-image{
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    opacity: 0.3;
}