
#root {
  margin: 0 ;
  padding: 0;
}

.app-provider{
  background-image: url('./assets/images/bgImages/homePageBg.jpeg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
}
