
:root{
    --primary : #1B93FA; 
    --secondary : #212733;
    --gradiant-primary : linear-gradient(to right,  var(--primary) , #01faff );
    --modal-bg : rgba(255, 255, 255, 0.5);
    --dark-bg : #0C0D14;
    --light-bg : #F2F9FF;
}

[data-theme = "dark"] {
    --primary : #1B93FA; 
    --secondary : #212733;
    --modal-bg : rgba(51, 51, 51, 0.5);
    --dark-bg : #F2F9FF ;
    --light-bg : #0C0D14;
}
button:disabled{
    cursor: not-allowed;
    opacity: 0.5;
}
input{
    background-color: transparent;
}

.modal-container{
    height: 100vh;
    width: 100vw;
    background-color:var(--modal-bg);
    z-index: 5;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal-content{
    position: relative;
}
.modal-close{
    color: red;
    position: absolute;
    top: 10px;
    right: 12px;
    border: none;
    font-size: 15px;
    background-color: transparent;
}



*{
    margin: 0;
    font-family:  ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

/* 
linear-gradient(to right, #01faff 0%, #258fff 100%);
--primary : #2390FF; 
 --secondary : #212733e6; */