.Account{
    position: relative;
    padding-top: 30px;
}
.Account .account-container{
    width: 100vw;
    display: flex;
}
.Account .account-img{
    position: relative;
    
}
.Account .account-edit-icon{
    position: absolute;
    z-index: 4;
    top: 1px;
    right: 30.4vw;
    color: white;
    font-size: 20px;
    background-color: var(--secondary);
    padding: 2px;
    border-radius: 3px  10px 3px 3px ;
}
.Account .account-user-details{
    margin: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.Account .account-user-details .account-profile-img{
    height: 40vw;
    width: 40vw;
    border-radius: 10px;
    border: 1px white solid;
    margin-inline: 30vw;
}

.Account .account-user-details .user-name{
    font-weight: bold;
    text-align: center;
    align-self: end;
    margin-block: 10px;
    margin-right: 10px;
}
.Account .account-user-details .level-container-user{
    position: static;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Account .account-user-details .level-container-user .level-user{
    z-index: 2; 
    font-size: 15px;
    background-color: white;
    position: static;
    width: 35px;
    margin-top: -5px;
    margin-left: -42px;
    border-radius: 5px;
    color: var(--primary);
    text-align: center;
}
.Account .account-user-details .level-container-user .level-icon{
    position: static;
    font-size: 50px;
    top: 0px;
    left: 0px;
}

.Account .xp-container{
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
}
.Account .xp-container progress{
    height: 30px;
    width: 300px;

}
.Account progress[value] {
    -webkit-appearance: none;
    appearance: none;
    width: 250px;
    height: 20px;
    
}
.Account progress[value]::-webkit-progress-bar {
    background-color: #000000;
    border-radius: 10px;
    box-shadow: 0 2px 5px var(--secondary),
    0px 1px 3px var(--light-bg);    
}
.Account progress[value]::-webkit-progress-value {
    background-image:
         -webkit-linear-gradient(#01faff, #1544ff);
      border-radius: 10px; 
      background-size: 35px 20px, 100% 100%, 100% 100%;
      transition: all 3s ease-in-out;
}
.Account .xp-details{
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 240px;
    padding-inline: 5px ;
}
.Account .xp-details p:first-child{
    font-weight: bold;
}
.Account .xp-details p:last-child{
    font-size: small;
    align-self: center;
}
.Account .details-container{
    width: 80vw;
    margin-top: 10px;
    display: flex; 
    flex-wrap: wrap;
    justify-content: space-between;  
}

.Account .details-container p{
    margin-block: 5px;
}
.Account .details-container p:first-child{
    width: 100%;
    font-size: 20px;
    text-align: center;
}
.Account .details-container p:nth-child(2){
    width: 100%;
    text-align: center;
}
.Account .details-container button{
    border: none;
    background-color: transparent;
    padding: 5px;
    border-radius: 5px;
    font-size: medium;
    text-transform: capitalize;
}

.Account .friends-container .selected{
    color: var(--primary);    
}
.Account .amount {
    align-self: center;
}

.Account .account-container .user {
    display: flex;
    width: 80vw;
    justify-content: space-between;
    margin-block: 10px ;
    /* border-bottom: 1px solid white;
    padding-block: 10px; */
    padding: 5px;
    padding-inline: 10px;
    height: fit-content; 
    background-color: var(--secondary);
    border-radius: 5px;
}

.Account .account-container .user .user-profile{
    display: flex;
    align-items: end;
}


.Account .account-container .user .user-profile .user-profile-img{
    height: 40px;
    width: 40px;
}
.Account .account-container .user button{
    max-height: 30px;
    align-self: center;
}

@media(width > 1000px){
    .Account .account-container .user{
        width: 70vw;
    }
    .Account .details-container{
        width: 70vw;
    }
    .Account .account-user-details .account-profile-img{
        height: 30vw;
        width: 30vw;
    }
    .Account .account-container .user .user-profile .user-profile-img{
        height: 50px;
        width: 50px;
    }
    .Account .account-container .user .user-profile p{
        font-size: 20px;
    }
}
@media(width > 1200px){
    .Account .account-container .user .user-profile .user-profile-img{
        height: 60px;
        width: 60px;
    }
    .Account .account-user-details .account-profile-img{
        height: 20vw;
        width: 20vw;
        margin-inline: 35vw;
    }
    .Account .account-edit-icon{
        top: 1px;
        right: 35.1vw;
    }
}