.EditAccount{
    background-color: var(--dark-bg);
    height: fit-content;
    width: 80vw;
    color: black;
    padding-block: 3vh;
    padding-inline: 10px;
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.EditAccount h2{
    text-align: center;
}
.EditAccount-err-img-input{
    border: red 1px solid;
    width: 100%;
    background-color: rgb(245, 128, 128);
    text-align: center;
    padding: 2px;
    text-align: center;
    margin-top: 10px;
    border-radius: 5px;
}
.EditAccount img{
    width: 80vw;
    height: 80vw;
    border: 1px solid white;
    border-radius: 5px;
    margin-block: 10px;
}

.EditAccount .EditAccount-img-input{
    height: 20vh;
    width: 100%;
}
.EditAccount .update-button{
    margin-top: 4vh;
    background-color: var(--primary);
    border: none;
    padding: 5px;
    border-radius: 5px;
    padding-inline: 10px;
}

@media (width > 500px){
    .EditAccount img{
        width: 70vw;
        height: 70vw;
    }
    .EditAccount .EditAccount-img-input{
        height: 10vh;
        margin-bottom: 2vh;
    }
}

@media (width > 700px){
    .EditAccount img{
        width: 50vw;
        height: 50vw;
        margin-inline: 20vw;
    }
    .EditAccount .EditAccount-img-input{
        height: 10vh;
        width: 80%;
        margin-inline: 10%;
        margin-bottom: 4vh;
    }
}
@media (width > 1000px){
    .EditAccount img{
        width: 40vw;
        height: 40vw;
        margin-inline: 25vw;
    }
    .EditAccount .EditAccount-img-input{
        height: 10vh;
        width: 70%;
        margin-inline: 15%;
        margin-bottom: 4vh;
    }
}
@media (width > 1200px){
    .EditAccount img{
        width: 30vw;
        height: 30vw;
        margin-inline: 30vw;
    }
    .EditAccount .EditAccount-img-input{
        height: 10vh;
        width: 60%;
        margin-inline: 20%;
        margin-bottom: 5vh;
    }
}