.EditAccount{
    background-color: rgb(0, 0, 0);
    height: fit-content;
    width: 80vw;
    color: black;
    padding-block: 3vh;
    padding-inline: 10px;
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.EditAccount h2{
    text-align: center;
}
.EditAccount-err-img-input{
    border: red 1px solid;
    width: 100%;
    background-color: rgb(245, 128, 128);
    text-align: center;
    padding: 2px;
    text-align: center;
    margin-top: 10px;
    border-radius: 5px;
}
.EditAccount img{
    width: 80vw;
    height: 80vw;
    border: 1px solid white;
    border-radius: 5px;
    margin-block: 10px;
}

.EditAccount .EditAccount-img-input{
    height: 20vh;
    width: 100%;
}
.EditAccount .update-button{
    margin-top: 4vh;
    background-color: var(--primary);
    border: none;
    padding: 5px;
    border-radius: 5px;
    padding-inline: 10px;
}