/*
.adminMenagmentNav

*/
.AdminMenagmentNav{
    display: flex;
    width: 90vw;
    justify-content: center;
    font-size: 30px;
    padding: 10px;
}
.AdminMenagmentNav button{
    width: 50%;
    background-color: transparent;
    padding: 5px;
    border: 1px solid white;
    font-size: larger;
    border-radius: 5px;
}
.AdminMenagmentNav .selected{
    background-color: var(--secondary);
}
.AdminMenagmentNav select{
    background-color: transparent;
    border: none;
    margin-left: 20px;
    font-size: 30px;
    outline: none;
    color: var(--light-bg);
}