
.CirclesFight{
    position: relative;
    margin-top: -10vh;
    z-index: 6;
    background-color: var(--dark-bg);
    display: flex;
    justify-content: center;
    align-items: center;
}
.CirclesFight .score{
    position: absolute;
    top: 17px;
    left: 5px;
    user-select: none;
    color: var(--light-bg);
}

.circle-start-game-container{
    position: absolute;
    inset: 0px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.circle-start-game-container .circle-form-container{
    background-color: var(--secondary);
    width: 70vw;
    padding: 15px;
    padding-top: 30px;
    text-align: center;
    border-radius: 5px;
}

.circle-start-game-container .circle-form-container p:first-child {
    font-size: 40px;
    color: var(--light-bg);
    font-weight: bold;
    margin: 0px;
    padding-bottom: 0px;
}
.circle-start-game-container .circle-form-container p{
    font-size: 15px;
    color: gray;
    margin-bottom: 20px;
}
.circle-forms-buttons{
    display: flex;
    justify-content: space-between;
}
.circle-forms-buttons button{
    border: none;
    padding-block: 5px;
    padding-inline: 10px;
    border-radius: 10px;
    color: white;
}
.circle-forms-buttons .exit{
    background-color: red;
}
.circle-forms-buttons .start {
    background-color: var(--primary);
}

@media(width > 800px){
    .circle-start-game-container .circle-form-container{
        width: 50vw;
    }
}

@media(width > 1200px){
    .circle-start-game-container .circle-form-container{
        width: 40vw;
        padding-block: 2vh;
        padding: 30px;
        padding-block: 20px;
    }
    .circle-start-game-container .circle-form-container p{
        padding-bottom: 3vh;
    }
}