

.Roulette{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-block: 2vh;
}




.Roulette .result{
    position: absolute;
}


.Roulette .ball-container {
    display: flex;
    position: absolute;
    height: 100%;
    width: 100%;
    justify-content: center;
    padding-top: 2vh;
} 

.Roulette .ball{
    width: 1rem;
    height: 1rem;
    z-index: 1;
    background: #dadada;
    box-shadow: 7px 7px 10px #181818;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    top: 20px;
}

.Roulette .inner-ball{
    height: -100%;
    width: -100%;
    border-radius: 50px;
    background: #ffffff;
    filter: blur(2px);
}
.Roulette .wheal-img{
    height: 300px;
}

@media(width > 1000px){
    .Roulette{
        grid-column: 1;
        grid-row: 1 / 3;
    }
    .Roulette .wheal-img{
        height: 100%;
    }
}