@keyframes cycle {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
};

.roulette-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin-top: 20px;
}

.while-container{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}




.result{
    position: absolute;
}


.ball-container {
    display: flex;
    position: absolute;
    height: 100%;
    width: 100%;
    justify-content: center;
    transform: rotate(00deg); 
    animation: cycle 3s linear infinite ;
    padding-top: 2vh;
} 

.ball{
    width: 2rem;
    height: 2rem;
    z-index: 1;
    background: #dadada;
    box-shadow: 7px 7px 10px #181818;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    top: 20px;
}

.inner-ball{
    height: -100%;
    width: -100%;
    border-radius: 50px;
    background: #ffffff;
    filter: blur(2px);
}