.options-container{
    display: flex;
    flex-wrap: wrap;
    width: 150px;
    transform: rotate(-90deg); 
    margin: auto;
}
.options-container .zero{
    width: 150px;
    border-radius:100% 100% 0px 0px ;
}
.options-container button{
    width: 50px;
    height: 25px;
    border: 1px solid white;
    background-color: rgb(66, 171, 66);
}
.red{
    background-color: red !important ;
}
.black{
    background-color: #333 !important ;
}

.rows-options-container{
    display: flex;
    flex-wrap:wrap ;
    margin: auto;
    margin-bottom: -100px;
    width: 100%;
    justify-content: center;
}

.rows-options-container button{
    background-color: rgb(66, 171, 66);
    color: white;
    height: 25px;
    width: 25px;
    border: white 1px solid;
    padding: 6px;
    transform: rotate(180deg);
}
.one-row-container{
    display: flex;
    width: 300px;
    margin: auto;
    justify-content: center;
}

.two-rows-container{
    display: flex;
}
.two-rows-container button{
    width: 50px;
    font-size: large;
}
.four-rows-container{
    display: flex;
    width: 300px;
    margin: auto;
    justify-content: center;
    margin-top: -100px;
}
.four-rows-container button{
    background-color: rgb(66, 171, 66);
    border: white 1px solid;
    width: 100px;
    height: 30px;
}
.specials-options-container{
    width: 300px;
    margin: auto;
    display: flex;
}
.specials-options-container button{
    background-color: rgb(66, 171, 66);
    border: white 1px solid;
    padding-inline:7px ;
}
.selected{
    background-color: var(--primary) !important;
}
