.RouletteBoard .options-container{
    display: flex;
    flex-wrap: wrap;
    width: 150px;
    transform: rotate(-90deg); 
    margin: auto;
}
.RouletteBoard .options-container .zero{
    width: 150px;
    border-radius:100% 100% 0px 0px ;
}
.RouletteBoard .options-container button{
    width: 50px; 
    height: 25px;
    border: 1px solid white;
    background-color: rgb(66, 171, 66);
}
.RouletteBoard .options-container .red-cell{
    background-color: red ;
}
.RouletteBoard .options-container .black-cell{
    background-color: #333 ;
}

.RouletteBoard .rows-options-container{
    display: flex;
    flex-wrap:wrap ;
    margin: auto;
    margin-bottom: -100px;
    width: 100%;
    justify-content: center;
}

.RouletteBoard .rows-options-container button{
    background-color: rgb(66, 171, 66);
    color: white;
    height: 25px;
    width: 25px;
    border: white 1px solid;
    padding: 6px;
    transform: rotate(180deg);
}
.RouletteBoard .one-row-container{
    display: flex;
    width: 300px;
    margin: auto;
    justify-content: center;
}

.RouletteBoard .two-rows-container{
    display: flex;
}
.RouletteBoard .two-rows-container button{
    width: 50px;
    font-size: large;
}
.RouletteBoard .four-rows-container{
    display: flex;
    width: 300px;
    margin: auto;
    justify-content: center;
    margin-top: -100px;
}
.RouletteBoard .four-rows-container button{
    background-color: rgb(66, 171, 66);
    border: white 1px solid;
    width: 100px;
    height: 30px;
}
.RouletteBoard .specials-options-container{
    width: 300px;
    margin: auto;
    display: flex;
}
.RouletteBoard .specials-options-container button{
    background-color: rgb(66, 171, 66);
    border: white 1px solid;
    padding-inline:7px ;
}
.RouletteBoard .selected-number{
    background-color: var(--primary) !important;
}

.RouletteBoard .specials-options-container .red-option{
    background-color: red;
}
.RouletteBoard .specials-options-container .black-option{
    background-color: #333;
}