.RouletteSpin .spin-button-container{
    display: flex;
    justify-content: center;
    margin-block: 5vh;
}
.RouletteSpin .spin-button{
    background-color: var(--primary);
    padding: 5px;
    border: none;
    border-radius: 5px;
}

.RouletteSpin .select-price-container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: goldenrod;
    height: fit-content;
    padding: 5px;
    border-radius: 5px;
}
.RouletteSpin .select-price{
    background-color: transparent;
    border: none;
    outline: none;
}

.RouletteSpin{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
