.PuzzleGame .slice-image{
    width: 300px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.PuzzleGame .game{
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.PuzzleGame .slice{
    cursor: grab ;
}

