.GamesMenagment{
    width: 90vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.GamesMenagment .search-game{
    width: 80%;
    margin-inline: 10%;
    outline: none;
    border: 2px solid var(--secondary);
    background-color: transparent;
    margin-bottom: 2vh;
    text-align: center;
}

.GamesMenagment .option-button{
    background-color: var(--secondary);
    color: var(--light-bg);
    padding: 10px;
    border: none;
    border-radius: 10px;
}